*{
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(206,222,189); */
    background-color: linear-gradient(0deg, rgba(206,222,189,1) 0%, rgba(250,241,228,1) 60%);
}

footer{
    background-color: #333;
    text-decoration: none;
    color: #fff;
}
.restaurant-footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center; 
    text-decoration: none;
  }
  
  .footer-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .restaurant-name h1 {
    font-size: 50px;
    animation: fadeInUp 1s ease-in-out;
    text-align: center; /* Center-align the restaurant name */
    margin-bottom: 20px; /* Space below the restaurant name */
  }
  
  .footer-section {
    flex: 1;
    padding: 20px;
    max-width: 300px;
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section h2 {
    font-size: 29px;
    margin-bottom: 15px;
    text-decoration: none;
    color: #fff;
  }
  
  .contact-info {
    color: white;
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  .contact-info li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    font-size: 22px;
  }
  .help-info {
    color: #fff;
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  
  .help-info li {
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .contact-info img {
 
    height: 40px;
    margin-right: 10px;
  }

  p{
    font-size:19px;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: block;
    font-size: 35px;
  }
  
  .social-icons a {
    margin-right: 15px;
    display: inline-block;
    text-decoration: none;
  }
  
  .social-icons img {
    height: 40px;
  }
  
  @keyframes fadeInUp {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @media (max-width: 768px) {
    .footer-section {
      max-width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  
